@font-face {
    font-family: 'Bruno'; /* El nombre que desees para la fuente */
    src: url('../assets/fonts/Bruno/BrunoAce-Regular.ttf') format('truetype'); /* Ruta al archivo de la fuente */
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bruno';
}
body .block1, body .adios1{
    color: black;
}

.block1{
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.adios1{
    background-color: rgb(21, 255, 0);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

body{
    color: aliceblue;
 }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    /*Con este degradado consigo el circulo blanco*/
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 45%, rgba(255, 255, 240, 1) 50%, rgba(0, 0, 0, 1) 53%);
    justify-content: space-between;
}
header{
    margin-top: 70px;
    color:rgb(240, 255, 242);
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:20px ;
    height: 100vh;
    
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    list-style: none;
    
}

.menu li {
    min-width: 200px;
    margin: 10px 0;
    
}

.menu a {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px;
    border-radius: 3px;
    width: 150px;
}


.resultado {
    /*sombereado*/
    box-shadow: 10px 0cm 5px 0px rgba(139,134,134,0.75);
    border:solid 1px white;
    border-radius: 20px;
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 250px;
    background-color: #000000;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: aliceblue;
}

.btn {
    width: 250px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto; /* Centrar horizontalmente */
    &:hover{
        background-color: #73c273;
    }
}